#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(37, 36, 36);
}

#main h1 {
    color: rgb(255, 203, 16);
    font-size: 4rem;
}

body {
    padding: 0px;
    margin: 0px;
}